# Setup env
# cp .env.development.example .env.development

# Database
DATABASE_URL=postgres://postgres:<password>@<host>:<port>/<database>

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# Resend
RESEND_API_KEY=
EMAIL_FROM=YourName <noreply@yourdomain.com> # or use local development address: Acme <onboarding@resend.dev>