# Setup env
# cp .env.production.example .env.production

# PORT
PORT=3000

# Database
DATABASE_URL=postgres://postgres:<password>@<host>:<port>/<database>

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# Resend
RESEND_API_KEY=
EMAIL_FROM=YourName <noreply@yourdomain.com>